//

.page-playlist {
    background-color: #F7F7F7;

    .left-menu {
        background-color: #1E1E2D;
        color: yellow;

        ul li {
            list-style-type: none;
        }

        a {
            color: #FFFFFF;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;

        }
    }
    .dinamic-playlist {
        border-radius: 12px;
            h1 { color :#1E1E2D}
    }

}